# OSX
.Trashes
.Spotlight-V100
.DS_Store
._*

# NODEJS
node_modules/
npm-debug.log*
package-lock.json

# YARN
yarn-debug.log*
yarn-error.log*
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# IDE
.idea/
.vscode/

# OTHER
/coverage/
/lib/
